<nav>
  <a routerLink="/">
    <img src="/media/04.png" class="icon" />
  </a>
  <a routerLink="/Movies">
    <img src="/media/03.png" class="icon" />
  </a>
  <a routerLink="/Series">
    <img src="/media/02.png" class="icon" />
  </a>
</nav>
<section>
  <header>
    <h1>Media Watch List</h1>
    <p class="description">Keeping track of the media you want to watch.</p>
  </header>
  <router-outlet></router-outlet>
</section>