:host {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  width: 55.7em;
  text-align: center;
  margin: 0 auto;
}
nav {
  display: flex;
  flex-direction: column;
  width: 68px;
  background-color: #53ace4;
}
nav .icon {
  width: 48px;
  height: 48px;
  margin: 10px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  cursor: pointer;
  filter: brightness(0.85);
  -webkit-filter: brightness(0.85);
}
nav .icon:hover {
  filter: brightness(1);
  -webkit-filter: brightness(1);
}
section {
  width: 100%;
  background-color: #32435b;
}
section > header {
  color: #ffffff;
  padding: 10px;
}
section > header > h1 {
  font-size: 2em;
}
section > header .description {
  font-style: italic;
}