<header
  [ngClass]="{'medium-movies':medium === 'Movies', 'medium-series':medium === 'Series'}">
  <h2>{{medium || "All medium types"}}</h2>
  <div>{{mediaItems | categoryList}}</div>
</header>
<section>
  <!--
    assign classes based on medium prop
    create mwl-media-item for each obj from mediaItems
    pass each obj from mediaItems into mediaItem input property
    get access to mediaItem when event triggered
  -->
  <mwl-media-item
    [ngClass]="{'medium-movies': mediaItem.medium === 'Movies', 'medium-series': mediaItem.medium === 'Series'}"
    *ngFor="let mediaItem of mediaItems"
    [mediaItem]="mediaItem"
    (doDelete)="onMediaItemDelete($event)"
    (toggleWatch)="onMediaItemChange($event, 'watchedOn')"
    (toggleLike)="onMediaItemChange($event,  'isFavorite')">
  </mwl-media-item>
</section>
<footer>
  <a routerLink="/additem">
    <img src="/media/01.png" class="icon" />
  </a>
</footer>