:host {
  display: flex;
  flex-direction: column;
  width: 9.8em;
  height: 200px;
  border: 2px solid;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-color: #29394b;
  margin: 10px;
  padding: 10px;
  color: #bdc2c5;
}
h2 {
  font-size: 1.6em;
  flex: 1;
}
:host.medium-movies {
  border-color: #53ace4;
}
:host.medium-movies > h2 {
  color: #53ace4;
}
:host.medium-series {
  border-color: #37ad79;
}
:host.medium-series > h2 {
  color: #37ad79;
}
.tools {
  margin-top: 8px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.favorite {
  width: 24px;
  height: 24px;
  fill: #bdc2c5;
  cursor: pointer;
}
.favorite.is-favorite {
  fill: #37ad79;
}
.favorite.is-favorite-hovering {
  fill: #3cba7f;
}
.favorite.is-favorite.is-favorite-hovering {
  fill: #f75048;
}
.button {
  display: block;
  padding: 4px;
  min-width: 4em;
  text-align: center;
  font-size: 0.8em;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
}
.delete {
  background-color: #e64d45;
}
.delete:hover {
  background-color: #f75048;
}
.reset {
  background-color: #e48653;
}
.reset:hover {
  background-color: #f78e55;
}
.details {
  background-color: #37ad79;
}
.details:hover {
  background-color: #3cba7f;
}