:host {
  display: block;
  flex-direction: column;
  padding: 0 10px;
  margin-bottom: 20px;
}
header {
  color: #c6c5c3;
  width: 100%;
  padding: 10px;
}
header.medium-movies {
  color: #53ace4;
}
header.medium-series {
  color: #37ad79;
}
header > h2 {
  font-size: 1.4em;
}
header > h2.error {
  color: #e64d45;
}
section {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}
section > media-item {
  margin: 10px;
}
footer {
  text-align: right;
}
footer .icon {
  width: 64px;
  height: 64px;
  margin: 15px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  cursor: pointer;
  filter: brightness(0.85);
  -webkit-filter: brightness(0.85);
}
footer .icon:hover {
  filter: brightness(1);
  -webkit-filter: brightness(1);
}