:host {
  display: block;
  padding: 10px;
}
ul {
  list-style-type: none;
}
ul li {
  margin: 10px 0;
  text-align: left;
}
header, label {
  color: #53ace4;
}
label {
  display: inline-block;
  width: 5em;
  font-size: 1.2em;
}
input, select {
  background-color: #29394b;
  color: #c6c5c3;
  border-radius: 8px;
  border: 1px solid #32435B;
  box-shadow: 0 1px 5px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
  padding: 8px;
  width: 45em;
  font-size: 1em;
}
input:focus, select:focus {
  border: 1px solid #53ace4;
  box-shadow: 0 1px 5px rgba(81, 203, 238, 1) inset;
  outline: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 8px;
}
.ng-invalid:not(form):not(.ng-pristine):not(.required-invalid) {
  border: 1px solid #d93a3e;
  box-shadow: 0 1px 5px rgba(217, 58, 62, 1) inset;
}
input[required].ng-invalid {
  border-right: 5px solid #d93a3e;
}
input[required]:not(.required-invalid),
input[required].ng-invalid:not(.required-invalid) {
  border-right: 5px solid #37ad79;
}
.error {
  color: #d93a3e;
  display: block;
  width: 45em;
  margin: 5px 0 0 6.3em;
}
button[type=submit] {
  display: block;
  margin-left: 6.3em;
  border: none;
  background-color: #37ad79;
  padding: 8px;
  width: 45em;
  font-size: 1em;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}
button[type=submit]:hover {
  background-color: #3cba7f;
}
button[type=submit]:disabled {
  background-color: #352c2c;
  color: #6b5e5e;
  cursor: default;
}